
/* v3 code */
main .banner {
  opacity: 0;
  min-height: 152px;
  width: 100%;
  max-width: none;
  margin: 32px auto;
  border-radius: 8px;
  overflow: hidden;

  /* fallback color without image */
  background: var(--color-red-gradient);
}

main .banner.is-loaded {
  opacity: 1;
  min-height: 0;
}

main .banner-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
}

main .banner .content-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 24px 20px;
  flex-grow: 1;
}

main .banner .content-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: 0.5;
  z-index: 1;
}

main .banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-all-ease-in-out-1);
}


main .banner-text {
  color: var(--color-white);
  width: 100%;
  z-index: 2;
}

main .banner .banner-text h3,
main .banner .banner-text p {
  margin: 0;
  padding: 0;
}

main .banner .banner-text h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

main .banner .banner-text .banner-description {
  font-weight: 700;
  margin-bottom: 24px;
}

main .banner.bg-gradient-red {
  background: var(--color-red-gradient);
}

main .banner.bg-gradient-red img,
main .banner.bg-gradient-red .content-wrapper::before {
  display: none;
}

main a.banner:hover {
  text-decoration: none;
}

main a.banner:hover img {
  transform: scale(1.07);
}

main a.banner:hover .con-button {
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
}

@media (min-width: 900px) {
  main .banner {
    max-width: none;
    margin: var(--spacing-s) 0;
  }

  main .banner .content-wrapper {
    padding: 24px 20px 48px;
  }
}
