main .banner {
  display: block;
  opacity: 0;
  min-height: 152px;
  width: 100%;
  max-width: var(--grid-container-width);
  margin: 32px auto;
  border-radius: 8px;
  overflow: hidden;

  /* fallback color without image */
  background: var(--color-banner-red-gradient);
}

main .banner.is-loaded {
  opacity: 1;
  min-height: 0;
}

main .banner .banner-contents {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 24px 20px;
  overflow: hidden;
  flex-grow: 1;
}

main .banner .banner-contents::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: 0.5;
  z-index: 1;
}

main .banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-all-ease-in-out-1);
}

main .banner .banner-text {
  width: 100%;
  z-index: 2;
}

main .banner .banner-text h3,
main .banner .banner-text p {
  margin: 0;
  padding: 0;
}

main .banner .banner-text h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

main .banner .banner-text .banner-description {
  font-weight: 700;
  margin-bottom: var(--spacing-s);
}

/* varaint: dark, light, no-overlay, gradient */
main .banner.dark .banner-text { 
  color: var(--color-white); 
}

main .banner.light .banner-text {
  color: var(--text-color); 
}

main a.banner.light .con-button {
  background: rgba(255 255 255 / 90%);
}

main .banner.no-overlay .banner-contents::before {
  display: none;
}

main .banner.bg-gradient-red {
  background: var(--color-banner-red-gradient);
}

main .banner.bg-gradient-red img,
main .banner.bg-gradient-red .banner-contents::before {
  display: none;
}

/* hover animation */
main a.banner:hover {
  text-decoration: none;
}

main a.banner:hover img {
  transform: scale(1.07);
}

main a.banner:hover .con-button {
  text-decoration: none;
}

main a.banner.dark:hover .con-button {
  background-color: var(--color-white);
  color: var(--color-black);
}

main a.banner.light:hover .con-button {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 600px) {
  main .banner {
    max-width: 480px;
    margin: var(--spacing-l) auto;
  }
}

@media (min-width: 900px) {
  main .banner .banner-contents {
    padding: 24px 20px 48px;
  }
}
