@import "https://main--milo--adobecom.hlx.live/libs/blocks/share/share.css";

.article-byline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-xs);
  margin: var(--spacing-s) auto;
  padding: 0;
}

.article-byline .article-author-image,
.article-byline .article-author-image img {
  flex: 0 0 64px;
  margin: 0;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.article-byline .article-byline-info {
  flex: 1 0 calc(100% - 80px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-author {
  margin: 0;
  padding: 0;
  font-size: var(--type-detail-l-size);
  line-height: var(--type-detail-l-lh);
}

.article-author,
.article-author a {
  font-weight: 600;
  text-decoration: none;
}

.article-author a:any-link {
  color: var(--color-black);
}

.article-author p {
  margin: 0;
}

.article-date {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: var(--type-detail-l-size);
  line-height: var(--type-detail-l-lh);
}

.article-date.article-date-invalid {
  position: relative;
  padding: 0 6px;
  border: 10px solid red;
  background: yellow;
}

/* sharing */
.article-meta .share {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.article-meta .share .icon-container {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-m);
  width: 100%;
  padding: var(--spacing-xs) 0;
  margin-bottom: 0;
  border-top: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
}

.article-meta .share .icon-container a {
  cursor: pointer;
}

.article-meta .share .icon-container .icon {
  color: var(--color-black);
}

.article-meta .share .icon-container svg.icon {
  width: 24px;
  height: 24px;
}

.article-meta .share p.icon-container > a,
.article-meta .share p.icon-container > button {
  margin: 0;
}

.article-meta .share .icon-container a:hover .icon.icon-twitter,
.article-meta .share .icon-container a:focus .icon.icon-twitter {
  color: #1DA1F2;
}

.article-meta .share .icon-container a:hover .icon.icon-linkedin,
.article-meta .share .icon-container a:focus .icon.icon-linkedin {
  color: #0077b5;
}

.article-meta .share .icon-container a:hover .icon.icon-facebook,
.article-meta .share .icon-container a:focus .icon.icon-facebook {
  color: #3b5998;
}

.article-meta .share .icon-container .copy-to-clipboard:hover svg,
.article-meta .share .icon-container .copy-to-clipboard:focus svg {
  color: var(--color-info-accent-hover);
}

@media (min-width: 600px) {
  .article-byline {
    margin: var(--spacing-m) auto;
    padding-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--color-gray-200);
  }

  .article-byline .article-byline-info {
    flex: 1 1 auto;
  }

  .article-meta .share {
    width: fit-content;
  }

  .article-meta .share .icon-container {
    flex: 0 1 auto;
    margin-top: 0;
    gap: var(--spacing-s);
    border: 0;  
  }
}

@media (min-width: 700px) {
  .article-header .article-byline {
    max-width: var(--grid-container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 900px) {
  .article-byline {
    margin-top: 0;
    padding-bottom: 0;
    border: 0;
  }

  .article-meta .share {
    width: 100%;
  }

  .article-meta .share .icon-container {
    width: 100%;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    padding: var(--spacing-xxs) 0 0;
  }
}
