/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
main h1, main h2, main h3, main h4, main h5, main h6 {
  margin-top: 48px;
  margin-bottom: 16px;
  scroll-margin-top: 90px;
}

main .section{
  margin-top: 64px
}

main .figure .figure img {
  object-fit: contain;
}

main .figure .figure .infograph,
main .article-header .article-category,
main .article-header .article-title,
main .article-header .article-byline {
  max-height: initial;
  max-width: 800px;
}

main video {
  max-height: 600px;
  margin: 40px auto;
  display: block;
}

@media (min-width: 700px) {
  main .section > div > :not(div):not(h1),
  main .section > .tags {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
