/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */
:root {
  --color-quote: #367ea8;
  --page-top-spacing: 128px;

  /* --color-red-gradient: radial-gradient(108.12% 89.52% at 17.93% 16.98%, #EB1000 0%, #E9740A 55.34%, #FF61F6 100%);  */
  --color-red-gradient: radial-gradient(110.12% 95.52% at 25.93% 25.98%, #EB1000 -5%, #E9740A 60.34%, #FF61F6 110%);

  /* animation */
  --transition-all-ease-in-out-1: all 0.3s ease-in-out;
}

body header .gnav-wrapper a.gnav-brand {
  color: #EB1000;
}

/* Add correct font family for Consonant Cards  */
.milo-card-wrapper .consonant-Wrapper,
.milo-card-wrapper .consonant-OneHalfCard-text,
.milo-card-wrapper .consonant-OneHalfCard-title {
  font-family: var(--body-font-family) !important;
}

.xxl-spacing > .text.blog-no-spacing {
  padding-top: 0px;
}


.video-caption,
figcaption {
 margin-top: 0;
 text-align: center;
}

main .section:first-of-type:not([class*='-spacing']) > .content:first-of-type {
  margin-top: var(--page-top-spacing);
}

main .section:first-of-type:not([class*='-spacing']) > .featured-article:first-child {
  margin-top: var(--page-top-spacing);
  margin-bottom: 64px;
}

.author-header + .article-feed,
.author-header + .content + .article-feed {
  background: #fff;
}

.author-header-wrapper .author-header + .content {
  max-width: 800px;
  text-align: initial;
}

/* Disable Featured Article */
.hide-feat-img .article-feature-image {
  display: none;
}

/*
 Text block quote styles
*/

main .inset.text-block .foreground > div {
  padding-left: var(--spacing-l);
}

main .inset.text-block .foreground::before {
  position: unset;
}

.text-block.inset.quote blockquote {
 margin: 0 0 16px 0;
 color: var(--color-quote);
 font-weight: var(--type-heading-all-weight);
 line-height: var(--type-heading-base-lh);
 font-size: var(--type-heading-l-size);
}

.text-block.inset.quote .foreground {
 border-left: 3px solid var(--color-quote);
}

.text-block.inset.quote picture img {
 height: 96px;
 width: 96px;
 object-fit: cover;
 border-radius: 100%;
 margin-bottom: 40px;
}

/* 
 * Modal
*/

.dialog-modal video {
  max-height: 700px;
}

/* 
 * Topics Header/Marquee
*/

.marquee.mini {
  min-height: 100px;
}

.marquee.mini .foreground {
  padding: 0;
}

.marquee.mini .foreground.container {
  width: 100%;
}

.marquee.mini .foreground.container .text {
  background-image: rgba(0 0 0 / 80%);
  background-image: linear-gradient(to right, rgba(0 0 0 / 80%), rgba(0 0 0 / 0%));
  box-sizing: border-box;
  max-width: none;
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
}

main .embed-instagram {
  margin: 64px auto;
}

main .embed-instagram,
main .embed-instagram iframe.instagram-media {
  background: white;
  height: 502px;
  width: 320px;
}

.columns.blog-social-links > .row > .col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}

.columns.blog-social-links.center > .row > .col {
  justify-content: center;
}

.columns.blog-social-links > .row > .col p {
  margin: 0;
}

.columns.blog-social-links > .row > .col p a {
  padding: 5px;
  display: block;
}

.columns.blog-social-links > .row > .col p a:hover,
.columns.blog-social-links > .row > .col p a:focus {
  opacity: .7;
}

/*
 * Footer styles
*/

main + footer .feds-regionPicker:hover {
  color: var(--color-gray-500);
  border-color: var(--color-gray-500);
  fill: var(--color-gray-500);
}

main + footer .footer-info {
  margin-top: 20px;
}

main + footer .footer-region-text {
  font-size: var(--type-detail-m-size);
}

main + footer .footer-region .fragment,
main + footer .feds-regionPicker-wrapper .fragment {
  min-width: 165px;
}

main + footer .feds-regionPicker-wrapper > .fragment {
  max-height: none;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p,
main + footer .feds-regionPicker + .fragment p {
  font-size: var(--type-detail-l-size);
  margin-top: 20px;
  margin-bottom: 0;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p:first-child,
main + footer .feds-regionPicker + .fragment p:first-child {
  margin-top: 0;
}

main + footer .feds-regionPicker-wrapper > .fragment a {
  line-height: 1;
  padding: 0;
  color: var(--color-gray-700);
}

main + footer .feds-regionPicker-wrapper > .fragment a:hover {
  color: var(--color-gray-500);
  background: none;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p strong > a,
main + footer .feds-regionPicker + .fragment p strong > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p strong > a::after,
main + footer .feds-regionPicker-wrapper > .fragment p strong > a::after {
  content: ' ';
  display: block;
  margin: 0 2px;
  width: 6px;
  height: 16px;
  border: solid var(--color-info-accent);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

@media (min-width: 600px) {
  main .embed-instagram,
  main .embed-instagram iframe.instagram-media {
    width: 550px;
    height: 784px;
 }

  .columns.blog-social-links > .row > .col {
    flex-flow: row wrap;
  }

  .columns.blog-social-links > .row > .col p {
    margin: revert;
  }
}

@media screen and (max-width: 1200px) {
  .tab-content .section[class*='grid-width-'] {
    justify-content: center;
    padding-left: inherit;
    padding-right: inherit;
  }
}

/* recommended articles */
main .recommended-articles-content-wrapper {
  background: var(--color-white);
}

main .recommended-articles > h3 {
  padding-top: 0;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-s);
}
 
main .recommended-articles .article-card-body h3 {
  margin-bottom: var(--spacing-xxs);
}

.article-card .article-card-image {
  height: 215px;
}

main .article-card .article-card-category {
  margin-top: 0;
}

main .article-card .article-card-body {
  padding: 20px 20px 24px;
}

main .article-card .article-card-body h3 {
  font-size: var(--type-heading-xs-size);
  line-height: var(--type-heading-xs-lh);
  margin: 0 0 8px;
}

main .article-card .article-card-body .article-card-description {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  margin: 8px 0;
}

main .article-card-body p.article-card-category, 
main .article-card-body p.article-card-category a, 
main .article-card-body p.article-card-date {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  letter-spacing: normal;
  font-weight: 400;
  color: var(--text-color);
}

@media (min-width: 600px) {
  main .recommended-articles h3 {
    margin-bottom: var(--spacing-m);
  }

  main .article-card-body h3 {
    margin-bottom: var(--spacing-xxs);
    -webkit-line-clamp: 2;
    min-height: 2.2rem;
  }
}

/* aside */
main .aside .foreground.container .text .heading-xl {
  margin: 0;
}

main .aside .foreground.container .text .heading-xl:last-of-type {
  margin-bottom: var(--spacing-xs);
}

@media (min-width: 1200px) {
  main .aside .foreground.container .text {
    padding-right: var(--spacing-l);
  }
}

/* media: added link + new variant - border styles (can be moved to milo) */
main a.media {
  color: var(--text-color);
}

main a.media .image {
  background: var(--color-black);
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16 / 9;
}

main a.media .image img {
  transition: var(--transition-all-ease-in-out-1);
}

main a.media:hover {
  text-decoration: none;
}

main a.media:hover .image img {
  opacity: 0.6;
}

main .media.border {
  padding: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  overflow: hidden;
}

main .media.border .text {
  box-sizing: border-box;
  padding: 20px 20px 24px;
}

main .media.border .image img {
  max-height: 316px;
}

main .media.border .foreground > .media-row {
  gap: 0;
}

main div[class*="-up"] .media.border .foreground > .media-row {
  padding: 0;
}

main .media[class*="-up"].border .foreground > .media-row .image, 
main div[class*="-up"] .media.border .foreground > .media-row .image {
  margin-bottom: 0;
}

/* home page */
main.page-homepage .masonry-layout {
  padding-bottom: var(--spacing-xxl);
}

main.page-homepage .masonry-layout .foreground {
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--spacing-xs);
}

main.page-homepage .masonry-layout .foreground .brick-media {
  display: block;
}

main.page-homepage .masonry-layout img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 600px) {
  main.page-homepage .masonry-layout .foreground {
    padding: var(--spacing-s);
  }
}

@media (min-width: 600px) {
  main.page-homepage .masonry-layout img {
    border-radius: 16px;
  }
}

@media (min-width: 800px) {
  main.page-homepage .masonry-layout .brick.stack .foreground .brick-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  main.page-homepage .masonry-layout {
    grid-template-rows: auto 540px;
  }

  main.page-homepage .masonry-layout .brick.stack .foreground {
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-m);
    padding: var(--spacing-m);
  }
}

/* TODO: maybe new components */
/* article grid */
main .section.article-grid {
  padding-bottom: var(--spacing-xxl);
}

main .article-grid .media {
  padding: 0;
}

main .article-grid a.media .image {
  border-radius: 8px;
}


main .article-grid .media .image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

main div.article-grid .media .foreground > div.media-row {
  padding: 0;
}

main .article-grid .banner {
  max-width: none;
  aspect-ratio: 1 / 1;
}

main .article-grid .banner,
main .article-grid .banner .banner-contents {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .article-grid .banner .content-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  main .section.article-grid {
    gap: var(--spacing-l) var(--spacing-m);
  }
}

/* global style */
.text h1, .text h2,
.text h3, .text h4,
.text h5, .text h6 {
  font-weight: 800;
}

/* TODO: clean this up after develop, used to hide cookies temporarily */
#onetrust-consent-sdk {
  display: none;
}
