/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */
:root {
  --color-black: #000;
  --color-gray-300: #D4D4D4;
  --color-quote: #367ea8;
  --color-info-accent: #5C5CE0;
  --color-info-accent-hover: #4646C6;
  --color-info-accent-down: #3D3DB4;

  /* body */
  --body-color: var(--color-black);
  --body-font-weight: 300;
  --body-font-size-m: 1.125rem; /* 18px */
  --body-font-size-s: 1rem; /* 16px */
  --body-font-size-xs: 0.875rem; /* 14px */
  --body-line-height: 1.5;

  /* headings */
  --heading-font-weight: 700;
  --heading-line-height: 1.25;

  /* grid sizes */
  --grid-container-width: 83.4%;
}

main {
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
  margin: 64px 0 0;
  font-weight: var(--body-font-weight);
}


main h1, main h2, main h3, main h4, main h5, main h6 {
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  margin-top: 48px;
  margin-bottom: 16px;
}

/* links */

main a:any-link {
  color: var(--body-color);
  line-height: var(--body-line-height);
}

main a.cta-link {
  color: var(--color-info-accent);
  font-weight: 700;
  text-decoration: none;
}

main a.cta-link::after {
  content: " >";
}

main a.cta-link:hover {
  color: var(--color-info-accent-hover);
}

main a.cta-link:active,
main a.cta-link:focus {
  color: var(--color-info-accent-down);
}

main img,
main video {
  max-width: 100%;
}

.video-caption {
 margin-top: 0;
 text-align: center;
}

/*
 Text block quote styles
*/

main .inset.text-block .foreground > div {
  padding-left: var(--spacing-l);
}

main .inset.text-block .foreground::before {
  position: unset;
}

.text-block.inset.quote blockquote{
 margin: 0 0 16px 0;
 color: var(--color-quote);
 font-weight: var(--type-heading-all-weight);
 line-height: var(--type-heading-base-lh);
 font-size: var(--type-heading-l-size);
}

.text-block.inset.quote .foreground {
 border-left: 3px solid var(--color-quote);
}

.text-block.inset.quote picture img{
 height: 96px;
 width: 96px;
 object-fit: cover;
 border-radius: 100%;
 margin-bottom: 40px;
}

/*
 * Footer styles
*/

main + footer .footer-info {
  margin-top: 20px;
}

main + footer .footer-region-text {
  font-size: var(--type-detail-m-size);
}

main + footer .footer-region .fragment {
  min-width: 165px;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p {
  font-size: var(--type-detail-l-size);
  margin-top: 20px;
  margin-bottom: 0;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p:first-child {
  margin-top: 0;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p strong > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main + footer .footer-region-button.inline-dialog-active + .fragment p strong > a::after {
  content: ' ';
  display: block;
  margin: 0 2px;
  width: 6px;
  height: 16px;
  border: solid var(--color-info-accent);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
